.custom_pos-rel {
  position: relative;
}
.custom_stars {
  display: inline-block;
  vertical-align: middle;
}
.custom_label-pos {
  position: relative;
  padding: 20px;

  & label {
    top: -30px;
    font-size: 12px;
    line-height: 20px;
  }

  h5 {
    margin: 0 0 1em;
    padding: 0 0.75rem;
  }
}
